header {
  height: 3rem;
  padding: 1rem 0;
  font-family: $font-family;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2rem 2rem -1.5rem rgba(0, 0, 0, 0.2);

  #home {
    margin: 0 0.5rem;

    img {
      max-height: 3rem;
    }

    .imago {
      display: none;
    }

    &:hover {
      background-color: inherit;
    }
  }

  ul {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    overflow: hidden;

    li a {
      @include user-select;
      @include transition(background-color);
      padding: 1rem;
      height: 100%;
      text-decoration: none;
      color: $primary-color;
      font-weight: 600;

      &:visited {
        color: $primary-color;
      }

      &:hover {
        border-radius: 2px;
        background-color: rgba($color: $primary-color, $alpha: 0.25);
      }
    }
  }

  form {
    display: flex;
    padding-right: 2rem;

    .search-box {
      width: 20rem;
      border: 2px solid $primary-color;
      border-right: none;
      padding-left: 15px;
      height: 38px;
      font-size: 1rem;
      font-family: $font-family;
      border-radius: 2px 0 0 2px;
      outline: none;
      color: $primary-color;
    }

    .search-btn {
      width: 45px;
      height: 44px;
      border: 2px solid $primary-color;
      background: $primary-color;
      text-align: center;
      border-radius: 0 2px 2px 0;
      cursor: pointer;
      @include transition(background-color);
      &:hover {
        border: 2px solid darken($color: $primary-color, $amount: 15%);
        background-color: darken($color: $primary-color, $amount: 15%);
      }

      .svg-icon {
        fill: white;
      }
    }
  }

  #menu-btn {
    display: none;
  }
  @media screen and (max-width: 950px) {
    #home {
      .imago {
        display: inline;
      }

      .logo {
        display: none;
      }
    }
  }

  @media screen and (max-width: 850px) {
    height: 7rem;
    flex-direction: column;

    @include transition(height);

    form {
      justify-content: center;
    }

    #menu-btn {
      padding: 0;
      display: inline-block;
      margin: 1em;
      width: 36px;
      cursor: pointer;
      background-color: transparent;
      border: none;

      &:focus {
        outline: none;
      }

      a {
        padding: 0;
      }

      &:before,
      &:after {
        background-color: black;
        content: "";
        display: block;
        height: 4px;
        transition: all 0.25s ease-in-out;
      }

      &:before {
        box-shadow: 0 10px 0 black;
        margin-bottom: 16px;
      }
    }

    #main-menu {
      display: none;
      flex-direction: column;
      padding-bottom: 1rem;

      li {
        width: 100%;
        line-height: 2.5;
        text-align: center;

        a {
          display: block;
          width: 100%;
          padding: 0;
          height: 3rem;
        }
      }
    }

    &.is-menu-open {
      height: 16rem;
      justify-content: flex-start;

      #menu-btn {
        &:before {
          box-shadow: 0 0 0 black;
          transform: translateY(10px) rotate(45deg);
        }
  
        &:after {
          transform: translateY(-10px) rotate(-45deg);
        } 
      }

      #main-menu {
        display: flex;
      }
    }
  }

  @media screen and (max-width: 450px) {
    flex-direction: column;
    height: 7rem;

    form {
      padding: 0;
      justify-content: center;

      .search-box {
        width: calc(100% - 105px);
      }
    }
  }
}
