@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');

@import "reset.scss";
@import "variables.scss";
@import "mixins.scss";

@import "header.scss";
@import "moviesLists.scss";
@import "movieDetails.scss";


body {
  position: relative;
  min-height: 100vh;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  background-color: #eeeeee;
  color: $primary-color;
  font-family: $font-family;
  padding-left: 3rem;
  margin-top: 2rem;
  line-height: 3;
}