@mixin user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin transition($property) {
  transition: $property .2s cubic-bezier(.35,0,.25,1);
}