#movie-details {
  #header {
    position: relative;
    height: 40vh;
    padding-top: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    .title {
      position: absolute;
      color: white;
      font-family: $font-family;
      bottom: 2rem;
      left: 2rem;

      h1 {
        font-size: 3rem;
        font-weight: 600;
      }
    }
  }

  .back-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3rem;

    .svg-back {
      width: 20px;
      fill: $primary-color;
      margin-right: 0.5rem;
    }
    color: $primary-color;
    text-decoration: none;
    font-family: $font-family;
  }

  h2 {
    font-weight: 600;
    font-size: 1.5rem;
    color: $primary-color;
    padding-bottom: 2rem;
  }

  #movie-info {
    display: flex;
    padding: 2rem 3rem;
    font-family: $font-family;

    .details-title {
      font-weight: 600;
    }

    .overview {
      width: 60%;
      margin-right: 3rem;
    }

    li {
      padding: 0.5rem 0;

      &:first-child {
        padding: 0;
        padding-bottom: 0.5rem;
      }
    }
  }

  .similar-movies-wrapper {
    h2 {
      font-family: $font-family;
      margin-left: 3rem;
    }
  }

  #similar-movies {
    list-style-type: none;
    justify-content: space-between;
    padding-left: 1rem;
    font-family: $font-family;
  
    li {
      max-width: 12rem;
      margin: 2rem;
  
      img {
        width: 12rem;
      }
    }
  }

  @media screen and (max-width: 850px) { 
    #similar-movies {
      justify-content: space-around;
      
      li {
        max-width: 100%;
        margin: 2rem;
    
        img {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 450px) { 
    #movie-info {
      flex-direction: column;
  
      .overview {
        width: 100%;
        padding-bottom: 3rem;
      }
    }

    #similar-movies {
      li {
        max-width: 100%;
        margin: 2rem;
    
        img {
          width: 100%;
        }
      }
    }
  }
}
