main {
  padding-top: 2.5em;
  section {
    max-width: 1920px;
    padding: 2rem 4rem;
    margin: 0 auto;
    text-align: center;
  }

  nav {
    font-family: $font-family;
    color: #8d8d8d;
    font-size: 1rem;
    padding: 0 5rem;

    a {
      margin: 0 1rem;
      padding-bottom: .5rem;
      cursor: pointer;

      &.is-selected {
        color: $primary-color;
        font-weight: 600;
      }

      &:hover {
        color: $primary-color;
        border-bottom: 1px solid $primary-color;
      }
    }
  }
}

.search-msg {
  font-family: $font-family;
  color: $primary-color;
  font-size: 1.4rem;
  padding-left: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}

#movies-list,
#similar-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  li {
    max-width: 8rem;
    margin: 1rem;
    opacity: .8;
    @include transition(all);

    img {
      width: 8rem;
    }

    h3 {
      font-family: $font-family;
      padding-top: 1em;
      color: #303030;
      font-size: .8rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }
}

@media screen and (max-width: 450px) {
  main {
    nav {
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      padding: 0 3rem ;
  
      a {
        margin: 0;
        padding-bottom: .5rem;
      }
    }
  }

  #movies-list,
  #similar-movies {
  
    li {
      max-width: 100%;
  
      img {
        width: 100%;
      }
    }
  }
}